<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>数据可视化</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script src="{% static 'echarts-5.4.3/dist/echarts.js' %}"></script>
</head>
<body>
<nav class="navbar border-2 border-bottom bg-dark navbar-expand-lg bg-body-tertiary">
    <div class="container-xl">
        <a class="navbar-brand" href="#">
            <img src="{% static 'Images/logo.svg' %}" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            Eye
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex  mb-2 mb-lg-0" role="search">
                <a class="btn  btn-outline-secondary bi bi-github" href="https://github.com/Shadow-Fy/python-web-sql"
                   target="_blank"
                   style="--bs-btn-padding-y: 6px; --bs-btn-padding-x:
                   25px; --bs-btn-font-size: 16px; margin: 10px; height: 70%">&#160Source Code</a>
                <div class="dropdown" style="display: flex;align-items: center ;">
                    <button type="button" class="btn link dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false" style="height: 70%;padding-bottom: 3%;padding-top: 3%">
                        个人中心
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Action two</a></li>
                        <li><a class="dropdown-item" href="#">退出登录</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</nav>
<nav class="navbar border-2 border-bottom navbar-expand-lg bg-body-tertiary">
    <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="./">
                        <div class="bi bi-house-door">&#160Home</div>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bi bi-book" href="#">&#160Link</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link bi bi-book" href="./admin_list">&#160管理员</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="#">
                        <strong class="bi bi-graph-up">&#160数据可视化</strong>
                    </a>
                </li>
            </ul>
            <form class="d-flex mb-2 mb-lg-0" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

    </div>
</nav>
<div class="container-xxl"><h1>这是数据可视化页面</h1></div>
<div class="container-xxl">
    <div class="container border border-4 rounded" style="height: 500px;width:100%;">折线图
        <div id="data_img1" style="width: 100%; height: 90%;"></div>
    </div>
    <div><br></div>
    <div class="container border border-4 rounded" style="float: left;height: 500px;width:58%;">柱状图
        <div id="data_img2" style="width: 100%; height: 90%;"></div>
    </div>
    <div class="container border border-4 rounded" style="float: right;height: 500px;width:40%;">饼状图
        <div id="data_img3" style="width: 90%; height: 90%;"></div>
    </div>
    <script type="text/javascript">
        const myChart1 = echarts.init(document.getElementById('data_img1'));

        fetch('/get_movie_data/')  // Assuming your URL pattern is /get_movie_data/
          .then(response => response.json())
          .then(data => {
            const option1 = {
              title: {
                text: 'Movie Scores Over Time',
              },
              tooltip: {
                trigger: 'axis',
                formatter: '{b}: {c}',
              },
              legend: {
                data: ['Score'],
              },
              xAxis: {
                type: 'category',
                data: data.map(movie => movie.release_year),
              },
              yAxis: {
                type: 'value',
              },
              series: [
                {
                  name: 'Score',
                  type: 'line',
                  data: data.map(movie => movie.score),
                },
              ],
            };

            myChart1.setOption(option1);
          })
          .catch(error => {
            console.error('Error fetching movie data:', error);
          });
    </script>
<script type="text/javascript">
    // 基于准备好的 dom，初始化 echarts 实例
    const myChart2 = echarts.init(document.getElementById('data_img2'));

    // 通过 AJAX 请求获取电影数据
    fetch('/get_movie_data/')
      .then(response => response.json())
      .then(data => {
        const colorPalette = ['#FF0000', '#FF4500', '#FF6347', '#FF7F50', '#FF8C00', '#FFA500', '#FFD700', '#FFEC8B', '#FFE4B5', '#FFDEAD', '#FFEBCD', '#FFEFD5', '#FAEBD7', '#FFE4C4', '#F5DEB3', '#FFF5EE', '#F5F5DC', '#FFFACD', '#F0FFF0', '#F8F8FF', '#F0FFFF', '#F0F8FF', '#F5F5F5', '#FAFAD2', '#DCDCDC', '#D3D3D3', '#C0C0C0', '#A9A9A9', '#808080', '#696969', '#000000', '#FFFFFF'];

        const option2 = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: data.map(movie => movie.zh_name),
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    min: 0,  // 设置 Y 轴最小值
                    max: 500,  // 设置 Y 轴最大值
                }
            ],
            series: [
                {
                    name: '评价人数',
                    type: 'bar',
                    emphasis: {
                        focus: 'series'
                    },
                    data: data.map(movie => movie.eval_number),
                    // 设置渐变颜色
                    itemStyle: {
                        color: function(params) {
                            const index = params.dataIndex % colorPalette.length;
                            return colorPalette[index];
                        },
                    },
                }
            ]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option2);
      })
      .catch(error => {
        console.error('获取电影数据时出错:', error);
      });
</script>

    <script type="text/javascript">
    // Initialize echarts instance
    console.log('图表初始化之前');

    const myChart3 = echarts.init(document.getElementById('data_img3'));
    console.log('图表初始化之后');

    // Fetch data from Django view
    fetch('/get_country_count/')
      .then(response => response.json())
      .then(data => {
        const option3 = {
            legend: {
                top: 'bottom'
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            series: [
                {
                    name: 'Nightingale Chart',
                    type: 'pie',
                    radius: [50, 250],
                    center: ['50%', '50%'],
                    roseType: 'area',
                    itemStyle: {
                        borderRadius: 8
                    },
                    data: data.map(item => ({ value: item.count, name: item.country })),
                }
            ]
        };

        // Set the chart options and data
        myChart3.setOption(option3);
      })
      .catch(error => {
        console.error('获取每个国家的电影数量时出错:', error);
      });
</script>

</div>


<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
